<br>
<div class="col-md-8 col-md-offset-2">
    <form [formGroup]="myFormIn" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" placeholder="Ex.: guilherme@gmail.com" class="form-control" formControlName="emailTS">
        </div>
        @if (myFormIn.get('emailTS')?.errors?.['required'] && myFormIn.get('emailTS')?.touched) {
        <div>
            <p style="color: red;">Email obrigatório</p>
        </div>
        }
        @if (myFormIn.get('emailTS')?.errors?.['pattern'] && myFormIn.get('emailTS')?.touched) {
        <div>
            <p style="color: red;">Email inválido</p>
        </div>
        }
        <br>
        <div class="form-group">
            <label for="pass">Senha:</label>
            <input type="password" id="pass" placeholder="••••••••" class="form-control" formControlName="passwordTS">
        </div>
        @if (myFormIn.get('passwordTS')?.errors?.['required'] && myFormIn.get('passwordTS')?.touched) {
        <div>
            <p style="color: red;">Senha obrigatória</p>
        </div>
        }
        @if (myFormIn.get('passwordTS')?.errors?.['minlenght'] && myFormIn.get('passwordTS')?.touched) {
        <div>
            <p style="color: red;">Senha deve ter no mínimo 4 caracteres</p>
        </div>
        }
        <br>
        <button class="btn btn-primary" type="submit" [disabled]="!myFormIn.valid">Login</button>
    </form>
</div>
